<div id="welcome" class="container w-75 mt-5 mb-4 pt-5">
  <h1 class="text-danger">
    <%= t('welcome.instructions.title', username: 'current_user.username').try(:html_safe) %>
  </h1>
  <hr class="solid">
  <div class="lead">
    <%= t('welcome.instructions.subtitle').try(:html_safe) %>
  </div>
  <ul class="list">
    <li class="mb-2">
      <%= t('welcome.instructions.list.answer_questions').try(:html_safe) %>
    </li>
    <li>
      <a class="mb-2"><%= t('welcome.instructions.list.submit_answers').try(:html_safe) %></a>
    </li>
    <li>
      <span class="mb-2">
        <%= t('welcome.instructions.list.start_quiz').try(:html_safe) %>
      </span>
    </li>
  </ul>
  <div class="text-center">
    <%= link_to t('welcome').try(:html_safe), step_path(id: 17), class: "btn btn-md mx-auto px-5" %>
  </div>
</div>

